.header {
    position: relative;
    padding: $base-unit;
    max-width: 1400px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-20px);

    @media screen and (min-width: 768px) {
        padding: $base-unit;
        padding-bottom: $double-unit;
    }

    &__logo {
        max-width: 70px;

        @media screen and (min-width: 768px) {
            max-width: 82px;
        }
    }
}