.section {
    width: 100%;
    padding: 0 $base-unit;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-20px);

    @media screen and (min-width: 768px) {
        padding: $double-unit;
    }
    
    @media screen and (min-width: 1025px) {
        width: 50%;
        margin-bottom: 0;
        padding-bottom: 0;

        &:first-of-type {
            padding-right: 3em;
        }
    }

    &--info {
        @extend .above-base-layer;

        @media screen and (min-width: 1200px) {
            height: 620px;
        }
    }

    &--hero {
        
        &__img {        
            position: absolute;        
            background-position: bottom;
            background-image:url("https://i.ibb.co/PtQ2WqM/profile1.png");
            background-repeat: no-repeat;
            background-size: contain;
            top: 0;
            bottom: 0;
            width: 100%;
            min-width: 420px;
            height: calc(100vh - 100px); // 130 is height of header
            max-width: 400px;
            @extend .bottom-layer;

            @media screen and (min-width: 768px) {
                min-width: 570px;
            }
            
            @media screen and (min-width: 1025px) {
                background-position: right;
                max-width: none;
                top: auto;
                right: 0;
                height: 100vh;
            }

            &--full-page {
                background-size: cover;
            }

            &-alt {
                background-image:url("https://i.ibb.co/J7pz1c2/profile3.png");
            }
        }
    }

    &--full {
        width: 100%;
        height: 100%;
    }
}

.content-block {
    max-width: 400px;
    margin: 0 auto $base-unit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        max-width: none;
    }

    @media screen and (min-width: 1025px) {
        position: relative;
        align-items: flex-start;
        margin: 0 auto $double-unit;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-decoration: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 768px) {
            width: 80%;
        }

        @media screen and (min-width: 1025px) {
            width: 100%;
        }

        &-item {
            display: block;
            text-decoration: none;
            margin: 0;
            padding: 0;
            width: 50%;
            font-size: 1.2em;
            text-align: center;

            @media screen and (min-width: 768px) {
                width: calc(50% - 80px);
                margin-left: 80px;
                text-align: left;
                font-size: 1.5em;
            }

            @media screen and (min-width: 1025px) {
                width: 50%;
                margin-left: 0;
            }

            p {
                margin: 0;
            }
        }

        &-img {
            width: 100%;
            margin-bottom: $base-unit;

            @media screen and (min-width: 768px) {
                width: 70%;
            }

            img {
                opacity: 0;
                width: 100%; 
                max-width: 600px;
                margin: 0 auto;
                animation: fadeUp 1s;
                animation-fill-mode: forwards;
            }

            &.fade-animation {
                img {
                    animation: fadeDown 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

.text-block {
    background-color: $white;
    color: black;
    border-radius: 5px;
    overflow-y: hidden;
    height: 0;
}

.app-background-image {
    background-size: cover;
    opacity: .4;
    max-width: none;
    z-index: -2;   
    height: calc(100% + 130px);
    top: -130px;
}