@import "../helper/transition";

.section {
    width: 100%;
    padding: 0 $base-unit;
    box-sizing: border-box;
    margin-bottom: $double-unit;

    @media screen and (min-width: 768px) {
        height: $above-mobile-section-height;
        padding: 0 $double-unit;
    }
    

    @media screen and (min-width: 1025px) {
        width: 50%;
    }

    &--info {
        @extend .above-base-layer;

        @media screen and (min-width: 1200px) {
            width: 44%;
        }

        // &:before {
        //     @media screen and (min-width: 1200px) {
        //         content: "";
        //         position: absolute;
        //         border-left: 3px solid #ececec;
        //         top: -48vh;
        //         left: 50%;                
        //         height: 200vh;
        //         transform: rotate(20deg);
        //         box-shadow: inset 0 0 50px #ececec, 
        //         inset 20px 0 80px $primary-colour, 
        //         inset -20px 0 80px #ececec, 
        //         inset 20px 0 300px $primary-colour, 
        //         inset -20px 0 300px #ececec, 
        //         0 0 7px 5px #ececec, 
        //         -10px 0 80px $primary-colour, 
        //         10px 0 80px #ececec;
        //     }
        // }
    }

    &--hero {
        
        &__img {        
            position: absolute;        
            background-position: bottom;
            background-image:url("./assets/images/jt-placeholder.png");
            background-repeat: no-repeat;
            background-size: contain;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            max-width: 400px;
            @extend .bottom-layer;

            @media screen and (min-width: 768px) {
                max-width: 500px;
            }
            
            @media screen and (min-width: 1025px) {
                background-position: right;
                max-width: none;
                top: auto;
                right: 0;
            }

            &--full-page {
                background-size: cover;
            }
        }
    }

    &--full {
        width: 100%;
    }
}

.content-block {
    max-width: 400px;
    margin: 0 auto $base-unit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        max-width: none;
    }

    @media screen and (min-width: 1025px) {
        position: relative;
        align-items: flex-start;
        margin: 0 auto $double-unit;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-decoration: none;
        margin: 0;
        padding: 0;

        &-item {
            display: block;
            text-decoration: none;
            margin: 0;
            padding: 0;
            width: 50%;

            p {
                margin: 0;
            }
        }

        &-img {
            width: 100%;
            margin-bottom: $base-unit;

            @media screen and (min-width: 1025px) {
                width: 70%;
                margin: 0 auto;
            }

            img {
                opacity: 0;
                width: 100%; 
                max-width: 600px;
                margin: 0 auto;
                animation: fadeUp 1s;
                animation-fill-mode: forwards;
            }

            &.fade-animation {
                img {
                    animation: fadeDown 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

.text-block {
    background-color: $white;
    color: black;
    margin-top: $base-unit;
    border-radius: 5px;

    &:last-of-type {
        margin-bottom: $base-unit;
    }
}

.app-background-image {
    background-size: cover;
    opacity: .2;
    max-width: none;
}

.asda-img {
    background-image: url("https://www.prolificnorth.co.uk/sites/default/files/styles/lightbox_large/public/images/news/asda.jpg?itok=DQnSZGuE");
}