.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 650px;
    margin-bottom: $double-unit;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1025px) {
        height: 100%;
    }

    &__inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        order: 2;

        @media screen and (min-width: 768px) {
            width: 80%;
            margin: 0;
            order: 1;
        }
    }

    &__img {
        height: 100%;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        // opacity: 0;
        // animation: fadeDown 1s;
        // animation-fill-mode: forwards;

        // &.fade-animation {
        //     animation: fadeToggle 1s;
        //     animation-fill-mode: forwards;
        // }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: $double-unit 0;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 30%;
            margin: 0;
            flex-direction: column;
            order: 1;
            margin-bottom: 0;
            height: 90%;
            align-items: flex-end;
        }

        @media screen and (min-width: 768px) {
            margin-right: 0;
        }
    }

    &__dot {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        border-radius: 15px;
        margin-right: 3em;
        background: white;
        cursor: pointer;
        @extend .default-trans;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            border: 3px solid $white;
            @extend .default-trans;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 3em;
            margin-right: 0;

            &:first-of-type {
                margin-top: 20px;
            }

            &:last-of-type {
                margin-bottom: 20px;
            }
        }

        &.is-active {
            background-color: #ca2f9c;
            width: 15px;
            height: 15px;
            @extend .default-trans;

            &:before {
                width: 50px;
                height: 50px;
                border: 3px solid $primary-colour;
                @extend .default-trans;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }

        &-container {
            display: flex;
            width: 70px;
            flex-direction: column;
            align-items: center;
            justify-items: center;
        }
    }

    &__counter {
        font-weight: 900;
        font-size: 1.6em;
        line-height: 1;
    }

    .chevron {
        display: inline-block;
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0;
        }

        svg {
            width: auto;
        }
    }
}