.default-trans{
    transition: 0.75s;
    transition-timing-function: cubic-bezier(0.52, 0.01, 0.16, 0.75);
}

/* FadeY transition */

    .fadeY-enter-active, .fadeY-leave-active {
        transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    }

    .fadeY-enter-active {
        transition-delay: .5s;
    }

    .fadeY-enter {
        opacity: 0;
        transform: translateY(-20px);
    }

    .fadeY-enter-to {
        opacity: 1;
        transform: translateY(0);
    }

    .fadeY-leave {
        opacity: 1;
        transform: translateY(0);
    }

    .fadeY-leave-to {
        opacity: 0;
        transform: translateY(-20px);
    }

/* FadeY End */

/* revealDown transition */

    .revealDown-enter-active, .revealDown-leave-active {
        transition: height .5s ease-in-out;
    }

    .revealDown-enter-active {
        transition-delay: .5s;
    }

    .revealDown-enter {
        height: 0;
    }

    .revealDown-enter-to {
        height: 100%;
    }

    .revealDown-leave {
        height: 100%;
    }

    .revealDown-leave-to {
        height: 0;
    }

/* revealDown End */

/* revealUp transition */

    .revealUp-enter-active, .revealUp-leave-active {
        transition: transform .5s ease-in-out;
    }

    .revealUp-enter-active {
        transition-delay: 1s;
    }

    .revealUp-enter {
        transform: translateY(50px);
    }

    .revealUp-enter-to {
        transform: translateY(0);
    }

    .revealUp-leave {
        transform: translateY(0);
    }

    .revealUp-leave-to {
        transform: translateY(50px);
    }

/* revealUp End */

/* backgroundReveal transition */

.backgroundReveal-enter-active, .backgroundReveal-leave-active {
    transition: height .5s ease-in-out;
}

.backgroundReveal-enter-active {
    transition-delay: .5s;
}

.backgroundReveal-enter {
    height: 0;
}

.backgroundReveal-enter-to {
    height: 100vh;
}

.backgroundReveal-leave {
    height: 100vh;
}

.backgroundReveal-leave-to {
    height: 0;
}

/* backgroundReveal End */